<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>입력페이지</h1>
	<form action="add.do" method="post">
		<label for="empno">empno</label><input type="number" name="empno" id="empno"/>
		<label for="ename">ename</label><input type="text" name="ename" id="ename"/>
		<label for="sal">sal</label><input type="number" name="sal" id="sal"/>
		<label for="deptno ">deptno</label><input type="number" name="deptno" id="deptno"/>
		<button>write</button>
	</form>
</body>
</html>