<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta th:include="include/header::header" th:remove="tag"></meta>
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("tr>td:last-child >a").on('click',function(){
		$.ajax({
			url:$(this).attr('href'),
			method:'delete'
		}).done(function(){
			window.location.reload();
		});
		return false;
	});
});
</script>
</head>
<body>
	<table>
		<tr th:each="row:${alist}">
			<td><a th:href="@{'detail.do/'+${row.empno}}"><span th:text="${row.empno}"></span></a></td>
			<td><span th:text="${row.ename}"></span></td>
			<td><span th:text="${row.sal}"></span></td>
			<td><span th:text="${row.deptno}"></span></td>
			<td><a th:href="@{delete.do(idx=${row.empno})}">삭제</a></td>
		</tr>
	</table>
	<a href="add.do">write</a>
</body>
</html>