<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function(){
			$('form input,form button').hide();
			
			$('.row .col-sm .btn-group .btn').eq(0).click(function(){

				$('form input,form button').show();
				$('.row .col-sm .btn-group, form .form-group>div>span').hide();
			});
		});
	</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" th:href="@{/}">BIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/html/emp.html}">Restful</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
	    <div class="col-md">
	    <h1>수정페이지</h1>
	    </div>
    </div>
	<div class="row">
<form method="post">
  <input type="hidden" name="_method" value="put" />
  <div class="form-group row">
    <label for="empno" class="col-sm-4 col-form-label">empno</label>
    <div class="col-sm-8" th:text="${bean.empno}">
    </div>
      <input type="hidden" class="form-control" name="empno" id="empno" placeholder="empno" th:value="${bean.empno}">
  </div>
  <div class="form-group row">
    <label for="ename" class="col-sm-4 col-form-label">ename</label>
    <div class="col-sm-8">
    	<span th:text="${bean.ename}"></span>
      <input type="text" class="form-control" name="ename" id="ename" placeholder="ename" th:value="${bean.ename}">
    </div>
  </div>
  <div class="form-group row">
    <label for="job" class="col-sm-4 col-form-label">job</label>
    <div class="col-sm-8">
    	<select name="job">
    		<option th:each="job:${jobs}" th:text="${job}" th:selected="${job==bean.job}"/>
    	</select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">mgr</label>
    <div class="col-sm-8" th:text="${bean.mgr}"></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">hiredate</label>
    <div class="col-sm-8" th:text="${bean.hiredate}">
      
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-8">
      <button type="submit" class="btn btn-primary">수정</button>
    </div>
  </div>
</form>
    </div>
    <div class="row">
   		<div class="col-sm">
	    	<div class="btn-group" role="group" aria-label="Basic example">
	    		<button class="btn btn-primary">수정</button>
    			<button class="btn btn-danger">삭제</button>
    		</div>
    	</div>
	</div>
</div>
</body>
</html>